@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --cor-primaria: #22d4fd; 
    --cor-secundaria: #000000;
    --cor-terciaria: #f6f6f6;
    --cor-hover: #272727;

    --fonte-principal: 'Krona one', sans-serif;
    --fonte-secundaria: 'montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-secundaria);
    box-sizing: border-box;
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.apresentacao_conteudo_titulo {
    font-family: var(--fonte-principal);
    font-size: 2.25rem;
}

.apresentacao_conteudo_texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao_conteudo_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao_conteudo_links_subtitulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400px;
    font-size: 1.5rem;
}

.apresentacao_conteudo_link_botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-primaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_link_botao:hover {
    background-color: var(--cor-hover);
}

.titulo-destaque {
    color: var(--cor-primaria);
}

.apresentacao-imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }7   
}