header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.input-texto {
  padding: 16px 14px;
  border-radius: 8px;
  border: none;
  background-color: var(--input-color);
  color: var(--text-input-color);
}

.input-texto::placeholder {
  color: var(--text-input-color);
}

.pesquisa{
  width: 752px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
}