.menu {
  height: 100%;
  width: 189px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lista-itens {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
}

.item-menu img {
  padding: 16px;
  background-color: var(--btn-color);
  border-radius: 16px;
}

